.about-container,
.feature-container {
  &__title {
    margin-bottom: 3rem;

    font-size: $about-title-font-size;
    font-weight: $about-title-font-weight;

    text-transform: uppercase;

    color: $about-title-color;
  }
}

.about-container {
  &__wrapper {
    @include full-grid-width();
  }

  &__quote {
    margin: 8rem 0;

    font-size: $about-quote-font-size;
    font-weight: $about-quote-font-weight;
    font-style: $about-quote-font-style;

    @include respond(map-get($sizes, "tablet")) {
      margin: 5rem 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 7rem;

    @include respond(map-get($sizes, "tablet")) {
      flex-direction: column;
    }
  }

  &__banner {
    max-width: 50%;

    margin-right: 3rem;

    @include respond(map-get($sizes, "tablet")) {
      max-width: 100%;

      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__paragraph {
    font-size: $about-paragraph-font-size;
    line-height: $about-paragraph-line-height;

    color: $about-paragraph-color;
  }
}

.feature-container {
  padding: 7rem 0;

  background-color: $about-features-background-color;

  &__wrapper {
    @include full-grid-width();
  }

  &__content {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    color: $about-list-color;

    @include respond(map-get($sizes, "tablet")) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 4.5rem;

    background-color: $about-feature-background-color;

    &:not(:last-of-type) {
      margin-right: 3rem;

      @include respond(map-get($sizes, "tablet")) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }

    &-icon {
      margin-bottom: 3rem;
    }

    &-title {
      margin-bottom: 2rem;

      font-size: $about-title-font-size;
    }

    &-description {
      font-size: $about-description-font-size;
      line-height: $about-description-line-height;
    }
  }
}
