.thumb-images {
  display: flex;
  flex-direction: column;

  @include respond(map-get($sizes, "tablet")) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 2rem;
  }

  &__item {
    max-width: 7.8rem;

    border: .1rem solid rgba(#ceb799, 0);

    transition: border .5s;

    @include pointer-on-hover();

    &:not(:last-of-type) {
      margin-bottom: 1rem;

      @include respond(map-get($sizes, "tablet")) {
        margin-bottom: 0;
      }
    }

    &:hover,
    &_selected {
      border: .1rem solid #ceb799;
    }
  }
}
