.thumb-images {
  display: flex;
  flex-direction: column;

  @include respond(map-get($sizes, "tablet")) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 2rem;
  }

  &__item {
    max-width: 7.8rem;

    border: $product-thumb-images-border;

    transition: $product-thumb-images-item-transition;

    @include pointer-on-hover();

    &:not(:last-of-type) {
      margin-bottom: 1rem;

      @include respond(map-get($sizes, "tablet")) {
        margin-bottom: 0;
      }
    }

    &:hover,
    &_selected {
      border: $product-thumb-images-hover-selected-border;
    }
  }
}
