.thumb-images {
  display: flex;
  flex-direction: column;

  &__item {
    max-width: 7.8rem;

    border: .1rem solid rgba(#ceb799, 0);

    transition: border .5s;

    @include pointer-on-hover();

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &:hover,
    &_selected {
      border: .1rem solid #ceb799;
    }
  }
}
