.tag-filter {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  &__title {
    font-size: $filter-tag-title-font-size;
    font-weight: $filter-tag-title-font-weight;

    text-transform: uppercase;

    color: $filter-tag-title-color;
  }

  &__dropdown {
    @include pointer-on-hover();

    width: 1rem;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    padding: .5rem 1rem;
    margin-bottom: 1rem;

    font-size: $filter-tag-item-font-size;

    color: $filter-tag-item-color;
    background-color: $filter-tag-item-background-color;

    @include pointer-on-hover();

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
