.filters-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3rem;
  margin-right: 3rem;

  @include respond(map-get($sizes, "tablet")) {
    margin-right: 0;
  }
}
