.filter {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  &__title {
    font-size: $filter-list-title-font-size;
    font-weight: $filter-list-title-font-weight;

    text-transform: uppercase;

    color: $filter-list-title-color;
  }

  &__dropdown {
    @include pointer-on-hover();

    width: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    font-size: $filter-list-item-font-size;

    color: $filter-list-item-color;

    transition: $filter-list-item-transition;

    @include pointer-on-hover();

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    &:hover,
    &_selected {
      text-decoration: underline;

      color: $filter-list-selected-hover-item-color;
    }
  }
}
