// Overview add
$overview-add-transition: opacity .5s;
$overview-add-icon-transition: background-color .5s;

// View filter item
$view-filter-item-transition: border .5s;

// Product
$product-card-transition: all .5s;
$product-card-control-item-transition: opacity .5s, background-color .5s;

// Filters
$filter-list-item-transition: color .5s;
$filter-square-item-transition: background-color .5s, color .5s;

// Overview add
$add-modal-transition: opacity .5s;

// Product detail
// Tabs
$product-tabs-hover-transition: opacity .5s;
