// Common
$white: #fff;
$black: #000;

// Welcome
$welcome-background-color: rgba($black, .07);
$welcome-title-color: #bcae9a;
$welcome-title-opacity: .2;
$welcome-story-color: #333;
$welcome-text-author-color: #888;
