// Common
$white: #fff;
$black: #000;
$grey: #888;
$mine-shaft: #333;
$malta: #bcae9a;
$sorrell-brown: #ceb799;
$silver: #bcbcbc;
$wild-sand: #f5f5f5;
$gallery: #eaeaea;
$mongoose: #b7a58d;

// Welcome
$welcome-background-color: rgba($black, .07);
$welcome-title-color: $malta;
$welcome-title-opacity: .2;
$welcome-story-color: $mine-shaft;
$welcome-text-author-color: $grey;

// Header
$header-box-shadow: 0 .3rem .5rem rgba($black, .05);

// Hamburger
$hamburger-background-color: $grey;

// Logo
$logo-title-color: $mine-shaft;
$logo-subtitle-color: $silver;
$logo-line-background-color: $silver;
$logo-subtitle-background-color: $white;

// Nav cart
$nav-cart-color: $grey;

// Posts list
$posts-list-description-color: $grey;

// Product card
$product-card-border: .1rem solid $sorrell-brown;
$product-card-transparent-border: .1rem solid rgba($sorrell-brown, 0);
$product-name-color: $mine-shaft;
$product-price-color: $sorrell-brown;

// Card control
$card-control-color: $white;
$card-control-background-color: $sorrell-brown;
$card-control-item-hover-background-color: $mongoose;

// Product overview
$product-overview-background-color: rgba($black, .07);
$product-overview-title-detail-color: $mine-shaft;
$product-overview-description-color: $grey;
$product-overview-description-important-color: $mine-shaft;
$product-overview-detail-border: .1rem solid $mine-shaft;
$product-overview-detail-background: transparent;

// Overview Add
$overview-add-icon-modal-background-color: $white;
$overview-add-icon-box-shadow: 0 0 .5rem rgba($black, .1);
$overview-add-icon-hover-color: $white;
$overview-add-icon-hover-background-color: $sorrell-brown;

// Add modal
$add-modal-color: $white;
$add-modal-background-color: $sorrell-brown;

// Quotes
$quotes-title-color: $grey;
$quotes-dot-border: .2rem solid $sorrell-brown;
$quotes-active-dot-background-color: $sorrell-brown;
$quotes-quote-color: $mine-shaft;
$quotes-author-color: $grey;
$quotes-name-color: $mine-shaft;

// Footer
$footer-background-color: $wild-sand;
$footer-title-color: $mine-shaft;
$footer-title-value-color: $grey;
$footer-title-copyright-color: $grey;

// Breadcrumbs
$breadcrumbs-name-color: $grey;
$breadcrumbs-latest-name-color: $mine-shaft;
$breadcrumbs-line-background: $grey;

// Products
$products-text-color: $grey;

// Filters
// Sidebar
$sidebar-background-color: $gallery;

// List
$filter-list-title-color: $mine-shaft;
$filter-list-item-color: $grey;
$filter-list-selected-hover-item-color: $mine-shaft;

// Square
$filter-square-item-color: $mine-shaft;
$filter-square-item-background-color: $wild-sand;
$filter-square-item-colored-hover-color: $white;
$filter-square-item-colored-hover-background-color: $mine-shaft;
$filter-square-item-bordered-border: .1rem solid $gallery;
$filter-square-item-selected-border: .5rem solid $white;
$filter-square-item-selected-outline: .1rem solid $gallery;

// Tag
$filter-tag-title-color: $mine-shaft;
$filter-tag-item-color: $grey;
$filter-tag-item-background-color: $wild-sand;

// View
$filter-view-border: .1rem solid $gallery;
$filter-view-background: $white;
$filter-view-hover-selected-border-color: $mine-shaft;

// Select
$filter-select-color: $grey;
$filter-select-border: .1rem solid $gallery;
$filter-select-background-color: $white;

// Pagination
$pagination-item-border: .1rem solid $gallery;
$pagination-item-color: $grey;
$pagination-item-active-border-color: $mine-shaft;
$pagination-item-active-color: $mine-shaft;

// Product detail
// Tabs
$product-tabs-item-color: $grey;
$product-tabs-item-text-color: $mine-shaft;
$product-tabs-content-color: $grey;
// Thumb images
$product-thumb-images-border: .1rem solid rgba($sorrell-brown, 0);
$product-thumb-images-hover-selected-border: .1rem solid $sorrell-brown;

