// Common
$bold: 700;
$extra-bold: 800;

// Welcome
$welcome-title-font-size: 35rem;
$welcome-title-font-weight: $bold;
$welcome-title-line-height: .5;
$welcome-title-letter-spacing: -2.45rem;
$welcome-story-font-size: 5rem;
$welcome-story-font-weight: $extra-bold;
$welcome-story-letter-spacing: -0.35rem;
$welcome-story-text-author-font-size: 1.4rem;

// Header
// Logo
$logo-line-height: 1;
$logo-title-font-size: 4rem;
$logo-title-font-weight: $extra-bold;
$logo-title-letter-spacing: -0.28rem;
$logo-title-dot-font-size: 2rem;
$logo-title-dot-letter-spacing: -0.14rem;
$logo-subtitle-font-size: 1.3rem;
$logo-subtitle-font-weight: $bold;
$logo-subtitle-letter-spacing: -0.091rem;

// Nav cart
$nav-cart-font-size: 1.4rem;

// New arrivals
$new-arrivals-title-font-size: 2.8rem;
$new-arrivals-title-font-weight: $bold;
$new-arrivals-description-font-size: 1.4rem;

// Product card
$product-card-info-font-size: 1.4rem;
$product-card-price-font-weight: $bold;

// Card control
$card-control-font-size: 1.4rem;
$card-control-small-font-size: 1.2rem;
$card-control-font-weight: $bold;

// Product overview
$product-overview-title-font-size: 4.5rem;
$product-overview-title-font-weight: $extra-bold;
$product-overview-title-line-height: 5.5rem;
$product-overview-description-font-size: 1.4rem;
$product-overview-important-font-weight: $bold;
$product-overview-detail-font-size: 1.4rem;
$product-overview-detail-font-weight: $bold;

// Add modal
$add-modal-font-size: 1.4rem;
$add-modal-title-font-weight: $bold;

// Quotes
$quotes-font-size: 1.4rem;
$quotes-quote-font-size: 4rem;
$quotes-quote-font-size-small: 3rem;
$quotes-quote-font-weight: $bold;
$quotes-author-font-size: 1.4rem;
$quotes-name-font-weight: $bold;

// Footer
$footer-columns-font-size: 1.4rem;
$footer-title-font-weight: $bold;
$footer-copyright-font-size: 1.4rem;

// Breadcrumbs
$breadcrumbs-font-size: 1.2rem;

// Products
$products-text-font-size: 1.4rem;

// Filters
// List
$filter-list-title-font-size: 1.6rem;
$filter-list-title-font-weight: $bold;
$filter-list-item-font-size: 1.4rem;

// Square
$filter-square-title-font-size: 1.6rem;
$filter-square-title-font-weight: $bold;
$filter-square-list-font-size: 1.4rem;

// Tag
$filter-tag-title-font-size: 1.6rem;
$filter-tag-title-font-weight: $bold;
$filter-tag-item-font-size: 1.4rem;

// Select
$filter-select-font-size: 1.4rem;

// Pagination
$pagination-font-size: 1.4rem;
