// Common
$bold: 700;
$extra-bold: 800;

// Welcome
$welcome-title-font-size: 35rem;
$welcome-title-font-weight: $bold;
$welcome-title-line-height: .5;
$welcome-title-letter-spacing: -2.45rem;
$welcome-story-font-size: 5rem;
$welcome-story-font-weight: $extra-bold;
$welcome-story-letter-spacing: -0.35rem;
$welcome-story-text-author-font-size: 1.4rem;

// Header
// Logo
$logo-line-height: 1;
$logo-title-font-size: 4rem;
$logo-title-font-weight: $extra-bold;
$logo-title-letter-spacing: -0.28rem;
$logo-subtitle-font-size: 1.3rem;
$logo-subtitle-font-weight: $bold;
$logo-subtitle-letter-spacing: -0.091rem;

// Nav cart
$nav-cart-font-size: 1.4rem;
