.square-filter {
  &__title {
    font-size: $filter-square-title-font-size;
    font-weight: $filter-square-title-font-weight;

    text-transform: uppercase;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: $filter-square-list-font-size;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.5rem;
    height: 3.5rem;

    margin-bottom: 1rem;

    color: $filter-square-item-color;
    background-color: $filter-square-item-background-color;

    transition: $filter-square-item-transition;

    @include pointer-on-hover();

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    &:hover,
    &_colored {
      color: $filter-square-item-colored-hover-color;
      background-color: $filter-square-item-colored-hover-background-color;
    }

    &_bordered {
      border: $filter-square-item-bordered-border;
    }

    &_selected {
      border: $filter-square-item-selected-border;
      outline: $filter-square-item-selected-outline;
    }
  }
}
