.pagination {
  display: flex;
  align-items: center;

  font-size: 1.4rem;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 4rem;

    border: .1rem solid #eaeaea;

    color: #888;

    @include pointer-on-hover();

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    &_active {
      border-color: #333;

      color: #333;
    }
  }
}
