.container {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);

  @include grid-columns(15px);

  @include respond-from(350px) {
    @include grid-columns(35px);
  }

  @include respond-from(600.98px) {
    @include grid-columns(calc(50vw - 300px));
  }

  @include respond-from(768.98px) {
    @include grid-columns(calc(50vw - 375px));
  }

  @include respond-from(1199.98px) {
    @include grid-columns(calc(50vw - 400px));
  }

  @include respond-from(1499.98px) {
    @include grid-columns(calc(50vw - 600px));
  }
}

.fluid-container {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);

  @include grid-columns-without-padding();
}
