.overview-add {
  position: relative;

  border-radius: 2rem;

  transition: $overview-add-transition;

  @include pointer-on-hover();

  &__icon,
  &__modal {
    background-color: $overview-add-icon-modal-background-color;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem + 2 * 1rem;
    height: 1.5rem + 2 * 1rem;

    background-size: cover;
    background: url("~/assets/images/overview/icons/add_black.svg") no-repeat #fff;

    padding: .5rem;

    border-radius: 2rem;

    box-shadow: $overview-add-icon-box-shadow;

    transition: $overview-add-icon-transition;

    &:hover {
      color: $overview-add-icon-hover-color;
      background-color: $overview-add-icon-hover-background-color;
      background-image: url("~/assets/images/overview/icons/add_white.svg");

      & + .overview-add__modal {
        opacity: 1;
      }
    }
  }
}

.add-modal {
  min-width: 25rem;
  padding: 1.8rem 2.7rem 2.3rem 2rem;

  font-size: $add-modal-font-size;
  border-radius: 5px;

  color: $add-modal-color;
  background-color: $add-modal-background-color;

  opacity: 0;

  transition: $add-modal-transition;

  &_first {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem;
  }

  &_second {
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
  }

  &_third {
    position: absolute;
    bottom: 3.5rem;
    right: 3.5rem;
  }

  &__title {
    margin-bottom: 1rem;

    font-weight: $add-modal-title-font-weight;
  }

  &__description {
  }
}
