.product-overview {
  padding: 8rem 0;

  background-color: $product-overview-background-color;

  &__wrapper {
    @include full-grid-width();

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    column-gap: 5rem;

    align-items: center;

    @include respond(map-get($sizes, "tablet")) {
      grid-template-columns: 1fr;

      column-gap: 0;
      row-gap: 5rem;
    }
  }

  &__content {
    grid-column: 1 / span 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond(map-get($sizes, "tablet")) {
      grid-column: 1 / -1;
    }
  }

  &__overview {
    grid-column: 2 / -1;

    justify-self: center;

    @include respond(map-get($sizes, "tablet")) {
      grid-column: 1 / -1;
    }
  }

  &__title,
  &__detail {
    color: $product-overview-title-detail-color;
  }

  &__title {
    margin-bottom: 3rem;

    font-size: $product-overview-title-font-size;
    font-weight: $product-overview-title-font-weight;
    line-height: $product-overview-title-line-height;
  }

  &__description {
    font-size: $product-overview-description-font-size;

    color: $product-overview-description-color;

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }

    &:last-of-type {
      margin-bottom: 3rem;
    }

    &_important {
      font-weight: $product-overview-important-font-weight;

      color: $product-overview-description-important-color;
    }
  }

  &__detail {
    padding: 1.5rem 2.8rem;

    border: $product-overview-detail-border;
    outline: 0;

    background: $product-overview-detail-background;

    text-transform: uppercase;

    font-size: $product-overview-detail-font-size;
    font-weight: $product-overview-detail-font-weight;

    @include pointer-on-hover();
  }
}
