.header {
  @include full-grid-width();

  align-items: center;

  padding: 1.7rem 3rem;

  box-shadow: $header-box-shadow;

  &__hamburger {
    grid-column: #{$start} / span 1;

    @include respond(map-get($sizes, "mobile")) {
      grid-column: #{$start} / #{$col-end} 2;
    }
  }

  &__logo {
    @include full-grid-width();

    @include respond(map-get($sizes, "mobile")) {
      grid-column: #{$col-start} 3 / #{$col-end} 9;
    }
  }

  &__nav-cart {
    grid-column: #{$end} / -1;
    justify-self: end;

    @include respond(map-get($sizes, "mobile")) {
      grid-column: #{$col-start} 10 / -1;
    }
  }
}
