.products-container {
  margin: 2rem 0 4rem;

  &__sidebar,
  &__item,
  &__row {
    margin-right: 3rem;
  }

  &__sidebar {
    @include grid-col-range(1, 4);

    @include respond(map-get($sizes, "tablet")) {
      @include full-grid-width();
    }

    @include respond(map-get($sizes, "tablet")) {
      margin-right: 0;
    }
  }

  &__content {
    @include grid-col-range(5, 12);

    @include respond(map-get($sizes, "tablet")) {
      @include full-grid-width();
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include respond(map-get($sizes, "tablet")) {
      justify-content: center;
    }
  }

  &__item {
    max-width: calc(33% - 3rem);

    margin-bottom: 5rem;

    @include respond(map-get($sizes, "desktop")) {
      max-width: calc(50% - 3rem);
    }

    @include respond(map-get($sizes, "tablet")) {
      max-width: 100%;

      margin-bottom: 2rem;
    }

    @include respond(map-get($sizes, "tablet")) {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__text,
  &__item {
    margin-bottom: 1rem;
  }

  &__text {
    font-size: $products-text-font-size;

    color: $products-text-color;
  }
}
