.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title,
  &__subtitle {
    line-height: $logo-line-height;
  }

  &__title {
    font-size: $logo-title-font-size;
    font-weight: $logo-title-font-weight;

    letter-spacing: $logo-title-letter-spacing;

    color: $logo-title-color;
  }

  &__dot {
    font-size: $logo-title-dot-font-size;
    letter-spacing: $logo-title-dot-letter-spacing;
  }

  &__subtitle {
    font-size: $logo-subtitle-font-size;
    font-weight: $logo-subtitle-font-weight;

    letter-spacing: $logo-subtitle-letter-spacing;

    text-transform: uppercase;

    color: $logo-subtitle-color;
  }
}
