.hamburger {
  display: flex;
  flex-direction: column;

  @include pointer-on-hover();

  &__line {
    width: $hamburger-line-width;
    height: $hamburger-line-height;

    background-color: $hamburger-background-color;

    &:not(:last-of-type) {
      margin-bottom: $hamburger-line-margin;
    }
  }
}
