.hamburger {
  display: flex;
  flex-direction: column;

  @include pointer-on-hover();

  &__line {
    width: 3rem;
    height: .2rem;

    background-color: #888;

    &:not(:last-of-type) {
      margin-bottom: .8rem;
    }
  }
}
