.card-control {
  display: flex;
  align-items: stretch;

  font-size: 14px;
  font-weight: 700;

  color: #fff;

  background-color: #ceb799;

  &__item {
    position: relative;

    padding: 1.3rem 1rem;

    transition: opacity .5s, background-color .5s;

    z-index: 1;

    &:hover {
      background-color: #b7a58d;
    }

    &:first-of-type {
      flex: 1;
    }

    &:not(:first-of-type) {
      display: flex;
      align-items: center;
    }
  }
}
