@mixin grid-columns($padding) {
  grid-template-columns:
    #{$start-name} #{$padding}
    repeat(#{$columns-count}, #{$column-start-name} 1fr #{$column-end-name})
    #{$end-name} #{$padding};
}

@mixin grid-columns-without-padding() {
  grid-template-columns: repeat(#{$columns-count}, #{$column-start-name} 1fr #{$column-end-name});
}

@mixin full-grid-width() {
  grid-column: #{$col-start} 1 / #{$col-end} 12;
}

@mixin full-grid-page() {
  grid-column: #{$start} / -1;
}
