.product-detail-tabs {
  padding: 7rem 0;

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1rem;

    font-size: $product-tabs-item-font-size;

    color: $product-tabs-item-color;

    @include pointer-on-hover();

    &:not(:last-of-type) {
      margin-right: 2rem;

      @include respond(map-get($sizes, "tablet")) {
        margin-right: 1rem;
      }
    }

    &:hover,
    &_selected {
      .product-detail-tabs {
        &__hover {
          opacity: 1;
        }
      }
    }
  }

  &__hover {
    opacity: 0;

    transition: $product-tabs-hover-transition;
  }

  &__text {
    margin-bottom: 1rem;

    font-size: $product-tabs-text-font-size;
    font-weight: $product-tabs-text-font-weight;

    text-transform: uppercase;

    color: $product-tabs-item-text-color;
  }

  &__content {
    font-size: $product-tabs-content-font-size;
    line-height: $product-tabs-content-line-height;

    color: $product-tabs-content-color;
  }

  &__paragraph {
    line-height: $product-tabs-paragraph-line-height;

    &:not(:last-of-type) {
      margin-bottom: 2.5rem;
    }
  }
}
